name: Check Changes

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.APK_SRC_REPO }}

      - name: Clone repositories
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BlueArchive-Translation.git

      - name: Move contents to current directory
        run: |
          mv BlueArchive-Translation/* .
          rm -rf BlueArchive-Translation

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Update index
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          
          curl -sS -f https://prod-noticeindex.bluearchiveyostar.com/prod/index.json | jq . > index.json

      - name: Update Data
        timeout-minutes: 6
        continue-on-error: true
        env: 
          PYTHONUNBUFFERED: "1"
        run: |
          python update_url.py info.json

      - name: Commit and Dispatch
        run: |
          CHANGES=$(git status --porcelain)
          if [ -z "$CHANGES" ]; then
            exit 0
          fi

          JP_UPDATED=$(git diff info.json | grep -q '"JP"' && echo true || echo false)
          GL_UPDATED=$(git diff info.json | grep -q '"GL"' && echo true || echo false)
          CN_UPDATED=$(git diff info.json | grep -q '"CN"' && echo true || echo false)
          INDEX_UPDATED=$(echo "$CHANGES" | grep -q 'index.json' && echo true || echo false)

          if [ "$INDEX_UPDATED" = "true" ]; then
            curl -X POST "https://web.archive.org/save/https://prod-noticeindex.bluearchiveyostar.com/prod/index.json" \
                 -d "url=https://prod-noticeindex.bluearchiveyostar.com/prod/index.json&capture_outlinks=on" > /dev/null || true
            
            curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                 -H "Accept: application/vnd.github.v3+json" \
                 https://api.github.com/repos/${{ github.repository }}/dispatches \
                 -d '{"event_type": "Notic"}'
          fi

          TIME=$(date -d "+8 hours" "+%Y-%m-%d %H:%M:%S")
          git add info.json index.json
          git commit -m "Update: $TIME"
          git push origin HEAD

          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "Unpack", "client_payload": {"JP_enabled": $JP_UPDATED, "GL_enabled": $GL_UPDATED, "CN_enabled": $CN_UPDATED}}'

          if [ "$JP_UPDATED" = "true" ]; then
            curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/${{ github.repository }}/dispatches \
              -d '{"event_type": "APK"}'
          fi
