name: Repack Excel
on:
  workflow_dispatch:
    inputs:
      custom_dir:
        description: 'Target Directory'
        required: false
        default: ''
      is_cn:
        description: 'CN Voice'
        type: boolean
        default: false
  repository_dispatch:
    types: [Repack]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Configure SSH Access
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - name: Clone repository
        run: |
          git clone --depth 1 git@github.com:beichen23333/BlueArchive-Translation.git tool
          git clone --depth 1 git@github.com:bluearchive-cafe/BA-Text-Translation.git BA-Text-Translation
          git clone --depth 1 git@github.com:bluearchive-cafe/BA-VoiceCN.git
          cp -r tool/* . && rm -rf tool

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          sudo apt-get install zip
          sudo apt-get install libsqlcipher-dev
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install sqlcipher3
          pip install pysqlcipher3

      - name: Get Version info
        id: v
        run: |
          bash other/version.sh JP info_jp.json >> "$GITHUB_OUTPUT"

      - name: Cache FlatData
        id: cache-flatdata
        uses: actions/cache@v4
        with:
          path: Extracted
          key: JP-flatdata-${{ steps.v.outputs.FLATDATA_VERSION_NAME }}

      - name: Cache Unpack
        id: cache-unpack
        uses: actions/cache@v4
        with:
          path: workspace/
          key: JP-unpack-${{ steps.v.outputs.BA_VERSION_NAME }}

      - name: Update table
        run: |
          chmod +x update/update_table.sh
          update/update_table.sh JP
          chmod +x ./other/MemoryPackRepacker
          ./other/MemoryPackRepacker deserialize table TableBundles/TableCatalog.bytes TableCatalog.json
          ./other/MemoryPackRepacker deserialize media MediaResources/MediaCatalog.bytes MediaCatalog.json

      - name: Update Voice
        if: github.event.inputs.is_cn == 'true' || github.event.client_payload.is_cn == 'true'
        env:
          PYTHONUNBUFFERED: "1"
        run: |
          python voicecn.py ./BA-VoiceCN/Voice voice_config.json

      - name: Read DB Key
        id: dbkey
        run: |
          DB_KEY="$(cat BA-Text-Translation/Key.txt | tr -d '\r\n')"
          echo "DB_KEY=$DB_KEY" >> "$GITHUB_ENV"

      - name: Update Excel
        env:
          PYTHONUNBUFFERED: "1"
        run: |
          python repack_excel.py "BA-Text-Translation/日服备份.zip" Extracted/FlatData TableBundles workspace . voice_config.json --db_key "$DB_KEY"

      - name: Patch Catalog
        env:
          PYTHONUNBUFFERED: "1"
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          CUSTOM_DIR: ${{ github.event.inputs.custom_dir || github.event.client_payload.custom_dir }}
          IS_CN: ${{ github.event.inputs.is_cn || github.event.client_payload.is_cn }}
        run: |
          python patch_media_catalog.py "$CUSTOM_DIR" "$IS_CN"
          python patch_table_catalog.py "$CUSTOM_DIR"

      - name: Commit and Push Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add voice_config.json
          if git diff --staged --quiet; then
            echo "No file changes to commit."
          else
            git commit -m "Update voice_config.json"
            git push
          fi