name: Update Game Server URL
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BA-Unpack.git

      - name: Move contents to current directory
        run: |
          mv BA-Unpack/* .
          rm -rf BA-Unpack

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Update server
        run: python update_urls.py info.json

      - name: Check if ba.env was modified
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add info.json
          if git diff --cached --quiet; then
            echo "No updates detected, skip the submission."
            echo "update_detected=false" >> $GITHUB_ENV
          else
            echo "Detected a URL update for the Yostart server, updating the ba.env sever address..."
            echo "update_detected=true" >> $GITHUB_ENV
          fi

      - name: Commit and push changes if ba.env was modified
        if: env.update_detected == 'true'
        run: |
          git commit -m "更新悠星服务器URL"
          git push origin HEAD
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "run-deployment"}'
