name: Update-Text

on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  repository:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Get SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - name: Login
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Clone repositories
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BlueArchive-Translation.git BlueArchive-Translation
          git clone --depth 1 --branch JP git@github.com:roundRekt/BA-Assets-TableBundles.git BA-Assets-TableBundles

      - name: Move contents to current directory
        run: |
          mv BlueArchive-Translation/* .
          rm -rf BlueArchive-Translation

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Get new version
        id: new_ver
        run: |
          echo "Current info.json content:"
          cat info.json
          echo "Running version.sh on current info.json:"
          bash other/version.sh JP info.json >> "$GITHUB_OUTPUT"

      - name: Run update
        run: |
          git clone --depth 1 git@github.com:asfu222/beicheng.git beicheng
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Text-Translation.git BA-Text-Translation
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/beichen.git beichen

          python tools/clean.py "BA-Assets-TableBundles/日服${{ steps.new_ver.outputs.JP_BA_VERSION_NAME }}.zip" other/config.json "BA-Text-Translation/日服${{ steps.new_ver.outputs.JP_BA_VERSION_NAME }}.zip"
          python tools/update.py "BA-Text-Translation/日服${{ steps.new_ver.outputs.JP_BA_VERSION_NAME }}.zip" "BA-Text-Translation/日服备份.zip" "BA-Text-Translation/日服备份.zip"
          python tools/back.py other/config.json "BA-Text-Translation"
          python -m tools.re_extract "BA-Text-Translation" "BA-Text-Translation/日服备份.zip" other/config.json 10
          python tools/format.py "BA-Assets-TableBundles/日服${{ steps.new_ver.outputs.JP_BA_VERSION_NAME }}.zip"

      - name: Commit files Translation
        run: |
          cd BA-Text-Translation
          if [ -d "NewBack" ]; then
            rm -rf "NewBack"
          fi      
          if [ -d "ReviseBack" ]; then
            rm -rf "ReviseBack"
          fi
          git add .

          git commit -m "文本写回 $(date +%F-%T)"
          git push origin
          cd

      - name: Commit files beicheng
        run: |
          cd beicheng
          git add .

          git commit -m "提交汉化文本 $(date +%F-%T)"
          git push origin
          cd

      - name: Commit files beichen
        run: |
          cd beichen
          git add .

          git commit -m "提交汉化文本 $(date +%F-%T)"
          git push origin
          cd