name: Unpack-Update Game Server URL
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BlueArchive-Translation.git

      - name: Move contents to current directory
        run: |
          mv BlueArchive-Translation/* .
          rm -rf BlueArchive-Translation

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Update repack
        run: |
          python setup_flatdata.py JP
          chmod +x update/update_table.sh
          update/update_table.sh JP
          python build_excel_db.py ./Extracted/FlatData ./downloads/TableBundles/ExcelDB.db ./unpacked ./ExcelDB.db
          python patch_table_catalog.py