name: Update Unpack
on:
  workflow_dispatch:
    inputs:
      Unpack_FlatData:
        description: 'Unpack FlatData?'
        required: false
        type: boolean
        default: true
      Downloads_Meida:
        description: 'Downloads Media?'
        required: false
        type: boolean
        default: true

permissions:
  contents: write

jobs:
  Table:
    runs-on: ubuntu-latest
    if: ${{ inputs.Unpack_FlatData }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BA-Unpack.git

      - name: Move contents to current directory
        run: |
          mv BA-Unpack/* .
          rm -rf BA-Unpack

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Login
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Get version
        id: get-versions
        run: bash version.sh info.json >> "$GITHUB_OUTPUT"

      - name: Get version name
        run: |
          echo "BA_VERSION_NAME=${{ steps.get-versions.outputs.BA_VERSION_NAME }}" >> $GITHUB_ENV

      - name: Clone FlatData repositories
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-FlatData.git
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Text.git

      - name: Setup FlatData
        run: |
          python setup_flatdata.py

      - name: Downloads Table files and run MemoryPackRepacker
        run: |
          chmod +x update.sh
          ./update.sh JP Table

      - name: Unpack ExcelDB.db and Excel.zip
        run: |
          python unpack_excel.py ./downloads/TableBundles/ExcelDB.db ./downloads/TableBundles/Excel.zip ./unpacked ./Extracted/FlatData config.json BA-Text 10

      - name: Committing FlatData
        run: |
          cd ./Extracted/FlatData/
          zip -j "FlatData${BA_VERSION_NAME}.zip" *
          mv "FlatData${BA_VERSION_NAME}.zip" ../../BA-FlatData/
          cd ../../BA-FlatData
          git add "FlatData${BA_VERSION_NAME}.zip"
          git commit -m "FlatData${BA_VERSION_NAME}.zip"
          git push origin

      - name: Committing TableBundles
        run: |
          cp {TableCatalog.json,MediaCatalog.json,BundlePackingInfo-iOS.json,BundlePackingInfo-Android.json} BA-Text
          cd BA-Text
          zip -r "./日服${BA_VERSION_NAME}.zip" DBSchema ExcelTable TableCatalog.json MediaCatalog.json BundlePackingInfo-iOS.json BundlePackingInfo-Android.json
          git add "日服${BA_VERSION_NAME}.zip"
          git commit -m "Add version ${BA_VERSION_NAME}"
          git push origin

      - name: Clone repositories
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Assets.git

      - name: Committing TableBundles
        shell: bash
        run: |
          set -e

          TARGET_DIR="BA-Assets"

          FILES=("TableCatalog.json" "MediaCatalog.json" "BundlePackingInfo-iOS.json" "BundlePackingInfo-Android.json")

          for file in "${FILES[@]}"; do
            if [ -f "$TARGET_DIR/$file" ]; then
              echo "删除已存在的文件: $TARGET_DIR/$file"
              rm "$TARGET_DIR/$file"
            fi
          done

          cp {TableCatalog.json,MediaCatalog.json,BundlePackingInfo-iOS.json,BundlePackingInfo-Android.json} "$TARGET_DIR$"
          if [ -d "BA-Assets/DBSchema" ]; then
            rm -rf "BA-Assets/DBSchema"
          fi
          mv "BA-Text/DBSchema" "BA-Assets/DBSchema"
          if [ -d "BA-Assets/ExcelTable" ]; then
            rm -rf "BA-Assets/ExcelTable"
          fi
          mv "BA-Text/ExcelTable" "BA-Assets/ExcelTable"

          cd BA-Assets

          git pull origin main

          for item in DBSchema ExcelTable TableCatalog.json MediaCatalog.json BundlePackingInfo-iOS.json BundlePackingInfo-Android.json; do
              if [ -e "$item" ]; then
                  if [ -d "$item" ]; then
                      echo "Processing directory: $item"
                      find "$item" -type f | while read -r file; do
                          file_size=$(stat -c%s "$file" 2>/dev/null || stat -f%z "$file")
                          if [ "$file_size" -gt 104857600 ]; then
                              echo "[$file] >100 MB ($((file_size/1048576)) MB), compressing to $file.gz"
                              gzip -c "$file" > "$file.gz"
                              rm "$file"
                          fi
                      done
                  else
                      file_size=$(stat -c%s "$item" 2>/dev/null || stat -f%z "$item")
                      if [ "$file_size" -gt 104857600 ]; then
                          echo "[$item] >100 MB ($((file_size/1048576)) MB), compressing to $item.gz"
                          gzip -c "$item" > "$item.gz"
                          rm "$item"
                      fi
                  fi
              fi
          done
          git add .

          git commit -m "Add version ${BA_VERSION_NAME}"
          git push origin

  Media:
    runs-on: ubuntu-latest
    if: ${{ inputs.Downloads_Meida }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BA-Unpack.git

      - name: Move contents to current directory
        run: |
          mv BA-Unpack/* .
          rm -rf BA-Unpack

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Login
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Get version
        id: get-versions
        run: bash version.sh info.json >> "$GITHUB_OUTPUT"

      - name: Get version name
        run: |
          echo "BA_VERSION_NAME=${{ steps.get-versions.outputs.BA_VERSION_NAME }}" >> $GITHUB_ENV

      - name: Downloads Media files
        run: |
          chmod +x update.sh
          ./update.sh JP Media

      - name: Clone BA-Assets repository for media
        run: |
          git clone https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Assets.git

      - name: Process and commit Media files
        shell: bash
        run: |
          set -e
          cd BA-Assets

          git pull origin main

          git add .

          git commit -m "Add version ${BA_VERSION_NAME}"
          git push origin