name: Update-Repack Excel
on:
  workflow_dispatch:
    inputs:
      custom_dir:
        description: 'Target Directory'
        required: false
        default: 'default'
  repository_dispatch:
    types: [Repack]
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Configure SSH Access
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BlueArchive-Translation.git
          git clone --depth 1 --branch JP git@github.com:roundRekt/BA-Assets-TableBundles.git BA-Assets-TableBundles
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/beichen.git beichen

      - name: Move contents to current directory
        run: |
          mv BlueArchive-Translation/* .
          rm -rf BlueArchive-Translation

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          sudo apt-get update
          sudo apt-get install libsqlcipher-dev
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install sqlcipher3
          pip install pysqlcipher3

      - name: Get Version info
        id: v
        run: |
          bash other/version.sh JP info.json
          V_BA=$(grep 'JP_BA_VERSION_NAME' $GITHUB_OUTPUT | cut -d'=' -f2)
          V_FL=$(grep 'JP_FLATDATA_VERSION_NAME' $GITHUB_OUTPUT | cut -d'=' -f2)
          echo "ver=$V_BA" >> $GITHUB_OUTPUT
          echo "fl_ver=$V_FL" >> $GITHUB_OUTPUT

      - name: Clone and Unpack FlatData
        run: |
          git clone --depth 1 --branch JP https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-FlatData.git flat_repo
          mkdir -p Extracted
          ZIP_NAME="日服${{ steps.v.outputs.fl_ver }}.zip"
          if [ -f "flat_repo/$ZIP_NAME" ]; then
            unzip -o "flat_repo/$ZIP_NAME" -d ./Extracted
          else
            exit 1
          fi

      - name: Update table
        run: |
          chmod +x update/update_table.sh
          update/update_table.sh JP
          chmod +x ./other/MemoryPackRepacker
          ./other/MemoryPackRepacker deserialize table TableCatalog.bytes TableCatalog.json

      - name: Extract Existing Assets
        run: |
          ZIP_NAME="BA-Assets-TableBundles/JP+${{ steps.v.outputs.ver }}.zip"
          if [ -f "$ZIP_NAME" ]; then
            mkdir -p unpacked
            unzip -o "$ZIP_NAME" -d unpacked
          fi

      - name: Update Excel
        env:
          CUSTOM_DIR: ${{ github.event.inputs.custom_dir || github.event.client_payload.custom_dir || 'default' }}
        run: |
          python repack_excel.py ./beichen ./Extracted/FlatData ./downloads/TableBundles ./unpacked ./
          python patch_table_catalog.py "$CUSTOM_DIR"
          python -m update.update_status 2