name: Update Unpack
on:
  workflow_dispatch:
    inputs:
      Unpack_FlatData:
        description: 'Unpack FlatData?'
        required: false
        type: boolean
        default: true
      Downloads_Meida:
        description: 'Downloads Media?'
        required: false
        type: boolean
        default: true

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Clone repository
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com:/beichen23333/BA-Unpack.git

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Get version
        id: get-versions
        run: bash version.sh info.json >> "$GITHUB_OUTPUT"

      - name: Get version name
        run: |
          echo "BA_VERSION_NAME=${{ steps.get-versions.outputs.BA_VERSION_NAME }}" >> $GITHUB_ENV

      - name: Clone FlatData repositories
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-FlatData.git

      - name: Clone repositories
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Text.git
          git clone --depth 1 https://x-access-token:${{ secrets.APK_SRC_REPO }}@github.com/beichen23333/BA-Assets.git

      - name: Setup FlatData
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          python BA-Unpack/setup_flatdata.py

      - name: Downloads Table files
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          chmod +x BA-Unpack/update.sh
          ./BA-Unpack/update.sh

      - name: Unpack ExcelDB.db and Excel.zip
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          python BA-Unpack/unpack/unpack_excel.py ./downloads/TableBundles/ExcelDB.db ./downloads/TableBundles/Excel.zip ./unpacked ./Extracted/FlatData config.json ../BA-Text 10

      - name: Committing FlatData
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          cd BA-Unpack
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          cd ./Extracted/FlatData/
          zip -j "FlatData${BA_VERSION_NAME}.zip" *
          mv "FlatData${BA_VERSION_NAME}.zip" ../../../BA-FlatData/
          cd ../../../BA-FlatData
          git add "FlatData${BA_VERSION_NAME}.zip"
          git commit -m "Committing."
          git push origin
          cd

      - name: Committing TableBundles
        if: ${{ inputs.Unpack_FlatData }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          cp {TableCatalog.json,MediaCatalog.json,BundlePackingInfo-iOS.json,BundlePackingInfo-Android.json} BA-Text
          cd BA-Text
          zip -r "./日服${BA_VERSION_NAME}.zip" DBSchema ExcelTable TableCatalog.json MediaCatalog.json BundlePackingInfo-iOS.json BundlePackingInfo-Android.json
          git add "日服${BA_VERSION_NAME}.zip"
          git commit -m "Add version ${BA_VERSION_NAME}"
          git push origin

