name: Run Emulator and Frida Hook

on:
  workflow_dispatch:

env:
  APK_URL: https://cdn.bluearchive.me/apk/蔚蓝档案.apk
  PACKAGE_NAME: com.YostarJP.BlueArchive
  APK_FILENAME: bluearchive.apk

jobs:
  hook:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'
        
    - name: Install Frida Tools
      run: pip install frida-tools
      
    - name: Download APK
      run: wget ${{ env.APK_URL }} -O ${{ env.APK_FILENAME }}
      
    - name: Start Android Emulator and Run Hook
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 30
        target: google_apis
        arch: x86
        profile: Pixel 2
        emulator-options: -no-window -gpu swiftshader_indirect -accel auto
        disable-animations: true
        timeout: 10m
        script: |
          adb push /usr/local/lib/python3.10/dist-packages/frida/frida-server /data/local/tmp/
          adb shell chmod 777 /data/local/tmp/frida-server
          adb shell /data/local/tmp/frida-server &
          
          adb install ${{ env.APK_FILENAME }}
          
          sleep 5
          
          frida -U -f ${{ env.PACKAGE_NAME }} -l hook.js --no-pause --runtime=v8
          
          sleep 60
          
          adb shell am force-stop ${{ env.PACKAGE_NAME }}
